/* ---------- Stijl van de pagina ---------- */

/* ---------- Belangrijke tags ---------- */

body{
    background-color: blue;
}

#oog{
    
    height: 400px;
    width: 400px;
    margin-top: 10%;
    margin-left: 30%;
}